.flex-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
  margin: 0 auto;
  .content {
    flex: 1 0 55%;
  }
}

#show-map{
  width: 100%;
  height: 600px;
  flex: 0 0 450px;
  top: 0 !important;
}

#index-map{
  width: 100%;
  height: 100vh;
  flex: 0 0 500px;
  top: 0 !important;
  margin-left: 20px;
  position: sticky !important;
}

.new_wall{
  margin-top: 20px;
}

.cards-container{
  margin-left: 30px;
}

.search-bar{
  display: flex;
  align-items: center;
}
.search-bar-field{
  width: 600px;
}

.seatch-bar-icon{
  margin-right: 20px;
}

.card-holder{
  padding-top: 50px;
}

.headings{
  padding-top: 20px;
}
