.booking-flex{
  display: flex;
}

.booking-list{
  width: 100%;
  .artist-bookings-card{
    display: flex;
    align-items: center;
    .booking_wall_description{
      min-width: 180px;
      font-size: 14px;
      flex-grow: 1;
      margin-left: 25px;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      p{
        display: block;
        margin: 0;
      }
    }
    a{
      color: rgba(0,0,0,0.3);
      transition: color 0.5s ease;
    }
    .artist_bookings-view-wall{
      margin-left: 10px;
      font-size: 14px;
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid rgba(0,0,0,0.3);
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 18px;
      line-height: 1.428571429;
      border-radius: 4px;
      transition: background 0.5s ease;

      &:hover{
        background: $green;

      }
    }
    .artist-bookings-confirmation{
        font-size: 14px;
      p{
        margin: 0;
      }
      .pending-text{
        font-style: italic;
        color: grey;
      }
      .accepted-text{
        color: $green;
      }
      .declined-text{
        color: $red;
      }
    }
  }

  ul{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 0;
    width: 100%;
    // .pending{
    //   background: #dee0e0;
    // }
    // .accepted{
    //   background: #C5F7C3;
    // }
    // .declined{
    //   background: #f99db6;
    // }
    li{
      width: 100%;
      border-radius: 4px;
      list-style: none;
      padding: 10px;
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline-block;
      border-top: 1px solid rgba(0,0,0,0.3);
    }


  }
}
