.bookings-list-scroll{
  height: calc(100vh - 140px);
  overflow-y: scroll;
  li{
    list-style: none;
  }
}

.owner-bookings{
  width: 100%;
  .wrapper-bookings{
    background: white;
    border-radius: 4px;
    min-height: 80vh;
  }

  ul{
    li{
      margin-top: 20px;
    }
  }

  .owner-bookings-wall{
    width: 200px;
    margin-left: -60px;
    .wall_photo{
      &:hover{
        opacity: 0.8;
      }
    }
    .owner-wall-name{
      font-size: 14px;
    }
    p{
      margin-top: 10px;
    }
  }
  .owner-bookings-headers{

    display: flex;
    p{
      display: inline-block;
      text-decoration: underline;
    }

    p:first-child{
      width: 200px;
      margin-left: 25px;
    }

    p:last-child{
      margin-left: 35px;
    }
  }

  .owner-bookings-bookings{
    flex-grow: 1;
    margin-left: 20px;
    ul{
      display: flex;
      align-items: flex-start;
      list-style: none;
      p{
        margin: 0;
      }
      form{
        display: inline-block;
      }
      li{
        border-radius: 8px;
        list-style: none;
        display: inline-block;
        padding: 10px;
        margin-left: 10px;

      }
    }
    .confirmation-buttons{
      margin-top: 5px;
      display: flex;
      justify-content: flex-start;
      .button{
        border: 1px solid transparent;
        font-size: 12px;
        padding: 8px;
        border-radius: 4px;
        color: white;
        margin-left: 15px;
      }
      .button-success{
        background-color: $green;
      }
      .button-declined{
        background-color: rgba(0,0,0,0.3);
      }

    }
    .accepted, .declined{
      font-size: 14px;
    }
    .accepted{
      color: $green;
    }
    .declined{
      color: $red;
    }
  }


}

.owner-booking-list-item{
  margin-top: 20px;
  font-size: 14px;
}
