.owner-bookings{
  width: 100%;
  .wrapper-bookings{
    background: white;
    border-radius: 4px;
    min-height: 80vh;
  }

  .bookings-list-scroll{
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }
  ul{
    li{
      margin-top: 20px;
      &:hover{
        background-color: #ECFEFF;
      }
    }
  }

  .owner-bookings-wall{
    width: 200px;
    overflow-x: auto;
    .wall_photo{
      &:hover{
        opacity: 0.8;
      }
    }
    .owner-wall-name{
      font-size: 14px;

    }
  }
  .owner-bookings-headers{

    display: flex;
    p{
      display: inline-block;
      text-decoration: underline;
    }

    p:first-child{
      width: 200px;
      margin-left: 25px;
    }

    p:last-child{
      margin-left: 35px;
    }
  }

  .owner-bookings-bookings{
    flex-grow: 1;
    margin-left: 20px;
    ul{
      display: flex;
      align-items: flex-start;
      list-style: none;
      p{
        margin: 0;
      }
      form{
        display: inline-block;
      }
      li{
        border-radius: 8px;
        list-style: none;
        display: inline-block;
        background: #DCEEFA;
        padding: 10px;
        margin-left: 10px;
        &:hover{
          background: #C2E8FF;
        }
      }
    }
    .confirmation-buttons{
      margin-top: 5px;
      display: flex;
      justify-content: space-around;
      .button{
        border: 1px solid transparent;
        font-size: 12px;
        padding: 8px;
        border-radius: 50%;
        color: white;
      }
      .button-success{
        background-color: $green;
      }
      .button-declined{
        background-color: $red;
      }

    }
    .accepted, .declined{
      font-size: 14px;
    }
    .accepted{
      color: $green;
    }
    .declined{
      color: $red;
    }
  }


}
