<div class="wrapper">
  <div class="container">
    <div class="row">
      <h1>All Walls</h1>

      <% @walls.each do |wall| %>
      <div class="col-xs-12 col-sm-4">
        <% (wall.photo.blank?) ? (url = image_path("luis.jpg")) : (url = cl_image_path(wall.photo, height: 300, width: 400, crop: :fill)) %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= url %>')">
          <div class="card-description">
            <h2><%= link_to wall.name, wall_path(wall), class: "card_header" %></h2>
          </div>
        </div>
      </div>
      <% end %>
    <%= link_to 'new wall', new_wall_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
