<h2>Bookings for your Wall</h2>
<% @walls.each do |wall| %>
<%= cl_image_tag wall.photo, height: 300, crop: :fill, class: 'image' %>
<%= wall.name %>
<ul>
  <% wall.bookings.each do |booking| %>
  <li> <%= booking[:date] %> </li>
  <% end %>
</ul>
<% end %>


